extends layout

block content
	//- p Results of Poll #{poll_id}:
	h3= poll.question

	each choice in sorted_res
		li #{choice.content} Votes: #{choice.votes}

	a(href='/#{poll._id}') Vote

	script(type='text/javascript').
		console.log(!{JSON.stringify(poll_id)});
		console.log(!{JSON.stringify(poll_choices)});
