extends layout

block content
	h3.question= poll.question
	//- p Vote on Poll #{poll._id}:

	.row
		.col-md-6.col-md-offset-3
			form(id='voteform', action = '/#{poll._id}', method='post')
				.input-group
					each choice in poll.choices
						input(type='checkbox' name= choice.index)
						text= choice.content
						br
				button#submitvote.btn.btn-primary.disabled.center-block(type = 'submit') Vote!
		a.link(href='#{poll._id}/results') Results 
	
