extends layout

block content
	h3= poll.question
	//- p Vote on Poll #{poll._id}:

	form(id='voteForm', action = '/#{poll._id}', method='post')
		.input-group
			each choice in poll.choices
				input(type='checkbox' name= choice.index)
				text= choice.content
				br
		button.btn.btn-default(type = 'submit') Vote!


	a(href='#{poll._id}/results') Results 
	
